html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 55px;  /* to fix navbar-fixed-top overlapping */
  background-color: #f7f7f7;
  margin-bottom: 50px;  /* margin bottom to match footer height */
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #fff;
  width: 100%;
}

footer p {
  padding-top: 10px;
}

.navbar {
  margin-bottom: 0;
  background-color: #02529c;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.navbar-link {
  color: #fff !important;
}

#newNoteLink {
  margin-right: 30px;
}

.album {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 5px solid #f7f7f7;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.noteCard {
  cursor: pointer;
}

form.ng-submitted .ng-invalid {
  border-color: red;
}

@media (max-width: 767px) {
  /* styles for xs displays */
  .album {
    padding-top: 1rem;
  }
  #newNoteLink {
    margin-right: 0;
  }
}

.error {
  color: red;
}

#spinner {
  margin-top: 100px;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

#newNoteTitleButton,
#editNoteTitleButton {
  margin-top: 24px;
}
