<public-warning></public-warning>

<form name="addNoteForm" ng-submit="addNoteForm.$valid && addNoteCtrl.addNote()" novalidate>

  <fieldset class="form-group">
    <span class="form-control-label"></span>
    <input id="title" type="text" ng-model="addNoteCtrl.note.title" class="form-control"
            placeholder="Title" maxlength="200" required>
  </fieldset>

  <fieldset class="form-group">
    <span class="form-control-label"></span>
    <textarea ui-tinymce ng-model="addNoteCtrl.note.content" class="form-control" rows="20" ng-required></textarea>
  </fieldset>

  <fieldset class="form-group">
    <button id="saveButton" class="btn btn-primary pull-xs-right" type="submit">
      <span id="saveButtonText">Save Note</span>
      <span id="saveButtonIcon" style="display: none;">
        <i class="fa fa-spinner fa-pulse fa-lg"></i>
        <span class="sr-only">Saving...</span>
      </span>
    </button>
  </fieldset>

</form>
