<div>
  <div class="col-md-7">
    <h1 class="display-2">NoteFire</h1>
    <p class="lead">
      Your notes, in the cloud. Create a free account to get started, or try our <a href="#/public">public notes</a>.
    </p>
  </div>
  <div class="col-md-5">
    <ul id="loginTabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#signinDiv" role="tab">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#registerDiv" role="tab">Register</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="signinDiv">
        <form class="form-signin" name="signinForm"
          ng-submit="signinForm.$valid && loginCtrl.signin()" novalidate>

          <label for="signinEmail" class="sr-only">Email address</label>
          <input type="email" id="signinEmail" class="form-control"
            ng-model="loginCtrl.email" placeholder="Email address" required email>

          <label for="signinPassword" class="sr-only">Password</label>
          <input type="password" id="signinPassword" class="form-control"
            ng-model="loginCtrl.password" placeholder="Password" required>

          <div ng-if="loginCtrl.signinError" class="error">
            {{ loginCtrl.signinError }}
          </div>

          <p class="forgotPasswordText">
            <small><a href="#/forgotPassword">I forgot my password</a></small>
          </p>
          <button id="signinButton" class="btn btn-lg btn-primary btn-block" type="submit">
            <span id="signinButtonText">Sign in</span>
            <span id="signinButtonIcon" style="display: none;">
              <i class="fa fa-spinner fa-pulse fa-lg"></i>
              <span class="sr-only">Loading...</span>
            </span>
          </button>
        </form>
      </div>
      <div class="tab-pane" id="registerDiv">
        <form class="form-register" name="registerForm"
          ng-submit="registerForm.$valid && loginCtrl.register()" novalidate>

          <label for="registerEmail" class="sr-only">Email address</label>
          <input type="email" id="registerEmail" class="form-control"
            ng-model="loginCtrl.email" placeholder="Email address" required email>

          <label for="registerPassword" class="sr-only">Password</label>
          <input type="password" id="registerPassword" class="form-control"
            ng-model="loginCtrl.password" placeholder="Password" required>

          <label for="registerConfirmPassword" class="sr-only">Confirm Password</label>
          <input type="password" id="registerConfirmPassword" class="form-control"
            ng-model="loginCtrl.confirmPassword" placeholder="Confirm Password" required>

          <div ng-if="loginCtrl.registerError" class="error">
            {{ loginCtrl.registerError }}
          </div>

          <button id="registerButton" class="btn btn-lg btn-primary btn-block" type="submit">
            <span id="registerButtonText">Register</span>
            <span id="registerButtonIcon" style="display: none;">
              <i class="fa fa-spinner fa-pulse fa-lg"></i>
              <span class="sr-only">Loading...</span>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
