<public-warning></public-warning>

<link href="css/view-note.css" rel="stylesheet">

<div class="col-sm-11 col-xs-10">
  <h3>{{ viewNoteCtrl.note.title }}</h3>
</div>

<div class="col-sm-1 col-xs-2">
  <a ng-href="#/edit/{{ viewNoteCtrl.note.$id }}" title="Edit Note">
    <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
  </a>
</div>

<div class="col-xs-12">
  <textarea ui-tinymce="viewNoteCtrl.tinymceOptions" ng-model="viewNoteCtrl.note.content"
    rows="20" ng-required>
  </textarea>
</div>
