<form name="editNoteForm" ng-submit="editNoteForm.$valid && editNoteCtrl.saveNote()" novalidate>

  <fieldset class="form-group">
    <span class="form-control-label"></span>
    <input type="text" ng-model="editNoteCtrl.note.title" class="form-control"
            placeholder="Title" maxlength="200" required>
  </fieldset>

  <fieldset class="form-group">
    <span class="form-control-label"></span>
    <textarea ng-model="editNoteCtrl.note.content" class="form-control" rows="20" required></textarea>
  </fieldset>

  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary" value="Save Note" />
  </fieldset>

</form>
