<form>
  <fieldset class="form-group">
    <span class="form-control-label"></span>
    <input type="text" id="title" class="form-control" value="<%= model.title %>" placeholder="Title">
  </fieldset>
  <fieldset class="form-group">
    <span class="form-control-label"></span>
    <textarea id="content" class="form-control" rows="20"><%= model.content %></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="button" id="saveNote" class="btn btn-primary" role="button" value="Save Note" />
  </fieldset>
</form>
